name: Metrics
on:
  schedule: [{cron: "0 * * * *"}] # 1 hour
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: shiawaseu
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Riyadh
          filename: metrics.svg
          repositories: 100

          # Sponsors
          plugin_sponsors: yes
          plugin_sponsors_sections: about, list

          # Introduction
          plugin_introduction: yes
          plugin_introduction_title: yes

          plugin_repositories: yes
          plugin_repositories_starred: 3
          plugin_repositories_affiliations: ""
          
          # Languages
          plugin_languages: no
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # Notable
          plugin_notable: yes
          plugin_notable_from: organization
          plugin_notable_types: pull_request, issue

          # Stars
          plugin_stars: yes
          plugin_stars_limit: 4

          # Traffic
          plugin_traffic: yes
