name: Metrics
on:
  schedule: [{cron: "0 * * * *"}] # 1 hour
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: shiawaseu
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Riyadh
          filename: metrics.svg
          repositories: 100

          # Activity
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          plugin_activity_load: 300
          plugin_activity_visibility: all

          # Sponsors
          plugin_sponsors: yes
          plugin_sponsors_sections: about, list

          # Introduction
          plugin_introduction: yes
          plugin_introduction_title: yes

          # Languages
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # Notable
          plugin_notable: yes
          plugin_notable_from: organization

          # Licenses
          plugin_licenses: yes
          plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          
          # Stars
          plugin_stars: yes
          plugin_stars_limit: 4

          # Traffic
          plugin_traffic: yes
